
<h1 class="text-center my-4">orders</h1>

<% if @all_products.any? %>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Image</th>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
              </tr>
            </thead>
            <tbody>
            <% @all_products.each do |order| %>
              <tr>
                <td>
                  <% if order["image_url"].present? %>
                    <%= image_tag order["image_url"], class: 'img-thumbnail', size: '100x100' %>
                  <% else %>
                    <p>No image available</p>
                  <% end %>
                </td>
                <td>
                  <h5 class="mb-1"><%= order["product_name"] %></h5>
                </td>
                <td>
                  <h5 class="mb-1"><%= order["price"] %></h5>
                </td>
                <td>
                  <h5 class="mb-1"><%= order["quantity"] %></h5>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
<%else%>
<p>No orders found.</p>
<%end%>