<h1 class="text-center my-4">Orders</h1>

<% if @orders.any? %>
  <div class="container">
    <div class="row">
      <% @orders.each do |order| %>
        <div class="col-md-4 mb-4">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title">Order #<%= order.id %></h5>
              <p class="card-text">
                <strong>Order Date:</strong> <%= order.created_at.strftime("%B %d, %Y") %><br>
                <strong>Order Address:</strong> <%= order.address %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="alert alert-warning text-center" role="alert">
    No Orders.
  </div>
<% end %>

