<h1>Orders</h1>

<% if @orders.any? %>
  <ul>
    <% @orders.each do |order| %>
    <h1>Order: <%= order.id %> Products</h1>

      <% order.products.each do |product| %>
              <li><%= product.name %> - <%= product.price %></li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>No Orders.</p>
<% end %>
