
<h1 class="text-center my-4">orders</h1>

<% if @orders.any? %>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Image</th>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Order id</th>
              </tr>
            </thead>
            <tbody>
            <% @orders.each do |order| %>
              

              <% order.products.each do |product| %>
                <tr>

                  <td>
                    <% if product.image.attached? %>
                      <%= image_tag product.image, class: 'img-thumbnail', size: '100x100' %>
                    <% else %>
                      <p>No image available</p>
                    <% end %>
                  </td>
                  <td>
                    <h5 class="mb-1"><%= product.name %></h5>
                  </td>
                  <td>
                    <h5 class="mb-1"><%= product.price %></h5>
                  </td>
                  <td>
                    <h5 class="mb-1"><%= order.id %></h5>
                  </td>
                  </tr>
              <% end %>
                              

            <% end %>
            
              
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
<%else%>
<p>No orders found.</p>
<%end%>

