<% if current_buyer %>
  <div class="container mt-5">
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h2 class="mb-0">Your Profile</h2>
      </div>
      <div class="card-body">
        <h3 class="card-title">Name: <span class="text-muted"><%= current_buyer.name %></span></h3>
        <h3 class="card-title">Email: <span class="text-muted"><%= current_buyer.email %></span></h3>
        <h3 class="card-title">Address: <span class="text-muted"><%= current_buyer.address %></span></h3>
        
      </div>
    </div>
  </div>
<% end %>
